.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin: 0 auto;
}
.text {
  font-size: 40px;
  color: red;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 635px) {
  .text {
    font-size: 20px;
    letter-spacing: 0.1em;
  }
  .logo {
    gap: 5px;
  }
}
